body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: hotpink;
    border-bottom: 10px dotted;
    border-color: purple;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    color: #999999;
}

ul{
    background-color: #eeeeee;
    border: purple solid 5px;
    padding-left: 100px;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
    color: green;
}